img {
    object-fit: cover;
}

.observation-details-container {
    display: flex;
    justify-content: center;

    .observation-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.navbar-tools {
 padding: 8px;
}