button {
    width: 100%;
}

img {
    width: 100%;
}

.observation-details-container {
    display: flex;
    justify-content: center;
    min-height: 500px;
    align-items: center;

    .observation-details {
        flex-grow: 1;
    }
}
