<button mat-raised-button color="primary" (click)="backToList()" class="sidebar-back">Back</button>
<div class="observation-details-container">
    <ng-container *ngIf="!(isLoading | async); else spinner" >
        <div *ngIf="(selectedObservation$ | async) as observation" class="observation-details">
            <h2>{{ observation.taxon.name }}</h2>
            <img src="{{ observation.imgUrl }}" alt="">
            <p>{{ observation.created_at | date }}</p>
        </div>
    </ng-container>
</div>

<ng-template #spinner>
    <mat-spinner
        class="example-margin">
    </mat-spinner>
</ng-template>