.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    mat-sidenav {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    mat-sidenav {
        width: 300px;
    }
}

@media only screen and (min-width: 985px) {
    mat-sidenav {
        width: 500px;
    }
}
