<mat-sidenav-container class="example-container" [autosize]="autosize" [hasBackdrop]="hasBackdrop">
  <mat-sidenav opened [mode]="mode" [position]="position" [disableClose]="disableClose" [fixedInViewport]="fixedInViewport" [fixedTopGap]="fixedTopGap">
    <router-outlet></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="map-container">
        <app-google-map></app-google-map>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
