.container {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    margin: 16px;
}

mat-toolbar {
    justify-content: space-around;
}

.mushroom-list {
    min-width: 400px;
}

mat-toolbar.span {
    margin-right: 16px;
}
