.container {
    display: flex;
    justify-content: center;
    margin: 16px;
}

mat-toolbar {
    justify-content: space-around;
}

.mushroom-list {
    width: 900px;
}

mat-toolbar.span {
    margin-right: 16px;
}
