
<div class="observation-list">
    <h1 class="mat-h2">Legutóbbi megfigyelések</h1>
    <div class="observation-items">
        <div class="observation-item" *ngFor="let item of observations$ | async; index as i">
            <div class="observation-details mat-typography">
                <p class="mat-body">
                <span class="mat-body-strong">{{ item.user.name ? item.user.name : 'Ismeretlen felhasználó' }}</span> bejegyzett egy új 
                <span class="mat-body-strong">{{ item.taxon.name }}</span> egyedet {{ item.place_guess }}!</p>
                <p class="mat-small"><i>{{ item.created_at | date }}</i></p>
            </div>
            <img class="observation-img" src="{{ item.photos[0].url }}">
        </div>
    </div>
</div>
