.observation-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.observation-item {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 400px;
    margin: 4px;

    img {
        object-fit: contain;
        border-radius: 3px;
    }

    &:hover {
        outline: 1px solid #555555;
        cursor: pointer;
        background-color: #333333;
    }
}

.observation-details {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    padding: 8px;

    * {
        margin: 0;
    }
}

.observation-list-wrapper {
    margin: 8px;
    padding: 16px;
}