.region-list {
    margin: 4px;
}

.region-item {
    display: flex;
    align-items: center;
    margin: 4px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    img {
        width: 150px;
        object-fit: contain;
        margin: 8px;
        margin-right: 24px;
    }

    &:hover {
        outline: 1px solid #555555;
        cursor: pointer;
        background-color: #333333;
    }
}